

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: .azeret-mono-normal 
    
}
.Confidence{
  height: 1173.6px;
  background-image: url("../assets/Hero-bg.png");
}